* {
  text-align: center;
  font-family: sans-serif;
  color: white;
  box-sizing: border-box;
}

body {
  margin: 10;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 375px;
}


.dashFoot {
  flex: 0 100px;
  background: hsl(180, 10%, 10%);
  display: flex;
  flex-direction: row;
  padding-top: 2em;
}

footer a {
  float: right;
}

footer span {
  float: left
}

.regFoot {
  background: hsl(180, 10%, 10%);
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: row;
  background: hsl(223, 57%, 38%);
  padding-top: 2em;
}

.list-group {
  padding-left: 3em !important;
  padding-right: 3em !important;
}

main section:nth-child(1) {
  flex: 1;
}

main section:nth-child(2) {
  flex: 1;
}

footer section {
  flex: 1;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}